<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container d-flex">
      <a href="{{ url_for('home') }}" class="navbar-brand">Woodworking Mastery</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbars">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse navbars justify-content-end" id="navbar2">
          <ul class="navbar-nav">
              {% if session.user_signed_in %}
              <li>
                <a class="nav-link" href="{{ url_for('account') }}">{{ session.user_signed_in }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('signout') }}">Sign Out</a>
              </li>            
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('signin') }}">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
              </li>
              {% endif %}
          </ul>
      </div>
    </div>
  </nav>
  
  <!-- 
  faded
  -->
  <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <div class="container">
      <div class="navbar-collapse collapse navbars" id="navbar1">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for( 'articles' ) }}">Articles</a>
              </li>
              {% if session.user_signed_in %}
              <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for( 'add_article' ) }}">New Article</a>
              </li>
              {% endif %}
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
              </li>
          </ul>
      </div>
    </div>
  </nav>