{% extends 'base.html' %}

{% block content %}
<div class="card content-section">
    <div class="card-body">
        <h3 class="card-title">About the project</h3>
        <hr>
        <p class="card-text">
            This app is built on the Python Flask framework and it is the Milestone 3 project by Mikael Lindberg.
            This website was developed with the intention of being a forum for woodworkers. 
        </p>
        <p class="card-text">
            Visit my Github repo for more information or go straight to the README.md
        </p>
        <hr>
        <a href="https://github.com/d99mli/woodworking_mastery" class="btn btn-outline-warning" target="_blank">Github</a>
        <a href="https://github.com/d99mli/woodworking_mastery#readme" class="btn btn-outline-info" target="_blank">README.md</a>
    </div>
  </div>
{% endblock content %}