{% extends 'base.html' %}

{% block content %}
<div class="card content-section">
    <div class="card-body text-center">
        <h1 class="card-title text-shadow">Welcome to Woodworking Mastery</h1>
        <p class="card-text">
          Sign up and join the community and tell your story!</p>
        <a href="{{ url_for('signup') }}" class="btn btn-outline-primary">Sign Up</a>
        <a href="{{ url_for('signin') }}" class="btn btn-outline-success">Sign In</a>
    </div>
  </div>
{% endblock content %}