{% extends "base.html" %}
{% block content %}

    <h4 class="center-align">Log In</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel teal">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-tie prefix grey-text text-darken-2"></i>
                        <input id="username" name="username" type="text" class="validate"
                        pattern="^[a-zA-Z0-9._%+-]{5,14}$" minlength="5" maxlength="14" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-unlock-alt prefix grey-text text-darken-2"></i>
                        <input id="password" name="password" type="password" class="validate"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,15}"
                            title="Must contain at least one number and one uppercase and lowercase letter, and between 6-15 characters long"
                            minlength="6" maxlength="15" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Log in button -->
                <div class="row">
                    <button class="col s12 btn-large grey darken-2 text-shadow" type="submit">
                        Log In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">New Here?
                <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">Register Account</a>
            </p>
        </div>
    </div>

{% endblock %}